<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Constellation.js</title>
	<link href="website/style.css" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container" id="app">
	<div class="header">
		<h1>constellation</h1>
		<ul class="nav">
			<li><a href="https://github.com/gmac/constellation-js">GitHub Source</a></li>
			<li><a href="https://github.com/gmac/constellation-js#constellationjs">Documentation</a></li>
		</ul>
	</div>

	<div class="toolbar" id="toolbar">
		<strong>Actions</strong>
		<ul>
			<li><button class="action" @click="joinNodes">Join nodes <span>j</span></button></li>
			<li><button class="action" @click="splitNodes">Break nodes <span>b</span></button></li>
			<li><button class="action" @click="addCell">Add cell <span>c</span></button></li>
			<li><button class="action" @click="deleteGeometry">Delete <span>DEL</span></button></li>
		</ul>

		<strong>Functions</strong>
		<ul>
			<li><button class="action" @click="findPath">Pathfinder <span>f</span></button></li>
			<li><button class="action" @click="snapToGrid">Snap point <span>s</span></button></li>
			<li><button class="action" @click="hitTestGeometry">Hittest <span>h</span></button></li>
			<li><button class="action" @click="print">Print <span>p</span></button></li>
		</ul>
	</div>
	<svg class="canvas" id="canvas" @mousedown="touch($event)">
		<path v-for="(cell, id) in cells"
			:key="id"
			:id="id"
			:d="cell"
			:class="{ selected: hasSelection(id) }" />
		<line v-for="(line, id) in lines"
			:key="id"
			:id="id"
			:x1="line.ax"
			:y1="line.ay"
			:x2="line.bx"
			:y2="line.by"
			:class="{ selected: hasHighlight(id) }" />
		<circle v-for="(node, id) in grid.nodes"
			:key="id"
			:id="id"
			r="6.5"
			:cx="node.x"
			:cy="node.y"
			:class="{ selected: hasSelection(id) }" />
		<text v-for="ord in ordinals"
			:x="ord.x"
			:y="ord.y"
			text-anchor="middle"
			alignment-baseline="middle"
			>{{ord.text}}</text>
		<rect v-if="marquee"
			:x="marquee.x"
			:y="marquee.y"
			:width="marquee.width"
			:height="marquee.height"
			class="marquee" />
	</svg>
	<transition name="fade">
		<div class="message" id="message" v-if="message">{{message.text}} <span v-show="message.hint">{{message.hint}}</span></div>
	</transition>
</div>

<div class="info" id="info">
	<div class="view" :class="{ open: enabled }">
		<b>About</b>
		<p>Constellation manages 2D point grids and path navigation; it's designed to control dynamic sprite motion around 2D scenes. Constellation expands upon the motion system used in the <a href="https://www.youtube.com/watch?v=qxngufqrZBE">What Makes You Tick?</a> games.</p>
		<b>Controls</b>
		<ul>
			<li>Double-click on canvas to add grid nodes.</li>
			<li>Click+drag on canvas for selection marquee.</li>
			<li>SHIFT+click to add and remove selections.</li>
		</ul>
	</div>
	<button class="toggle" @click="enabled=!enabled">{{ enabled ? 'x' : '?' }}</button>
</div>

<script src="dist/index.js"></script>
<script src="website/vue.js"></script>
<script src="website/app.js"></script>
</body>
</html>
