@font-face {
    font-family: 'KellySlabRegular';
    src: url('KellySlab-Regular-webfont.eot');
    src: url('KellySlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('KellySlab-Regular-webfont.woff') format('woff'),
         url('KellySlab-Regular-webfont.ttf') format('truetype'),
         url('KellySlab-Regular-webfont.svg#KellySlabRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Global
* ----------------------------- */
body {
	font: 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	position: relative;
}

a {
	color: #63b8ee;
	text-decoration: none;
}

a:hover {
	color: #6BD5FF;
	text-decoration: underline;
}

h1, h2, b {
	font-family: 'KellySlabRegular', Helvetica, sans-serif;
	font-size: 18px;
}

.header {
	background: #1f2335; /* Old browsers */
	background: -moz-linear-gradient(top, #1f2335 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f2335), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1f2335 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1f2335 0%,#3f4c6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1f2335 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1f2335 0%,#3f4c6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f2335', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
	color: #fff;
	font-size: 15px;
	height: 60px;
	line-height: 60px;
	position: relative;
	z-index: 2;
}

.header .nav {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.header h1 {
	font: 40px/60px 'KellySlabRegular', Helvetica, sans-serif;
	margin-right: 25px;
}

.header h1 span {
	font-size: 20px;
}

.header h1,
.header ul,
.header li {
	margin: 0 15px;
}

.header ul {
	list-style: none;
}

.header a,
.header li {
	display: inline;
}

/* Toolbar
* ----------------------------- */
.sidebar {
	background-color: #3f4c6b;
	border-right: 1px solid #4E5E84;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 180px;
	z-index: 0;
}

.toolbar {
	color: #fff;
	float: left;
	margin-right: -100%;
	padding: 0 15px;
	position: relative;
	width: 150px;
	z-index: 1;
}

.toolbar h2 {
	margin: 0;
	opacity: 0.75;
}

.toolbar ul {
	list-style: none;
	margin: 10px 0 25px;
}

.toolbar li {
	margin: 8px 0;
}

.toolbar input {
	border: 1px solid #999;
	border-radius: 4px;
	font: 12px/1.4em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 10px 0;
	padding: 4px 0;
	text-indent: 5px;
	width: 100%;
}

.toolbar button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #3866a3;
	color:#ffffff;
	display: inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:11px;
	padding:5px 6px;
	text-decoration:none;
	text-shadow:1px 1px 0px #7cacde;
}

.toolbar button:hover {
	filter: none;
	background: none;
	background-color: #63b8ee;
}

.toolbar button:active {
	position:relative;
	top:1px;
}

.toolbar fieldset {
	color: #54668f;
}

.toolbar fieldset a {
	padding: 0 5px;
}

.action {
	display: block;
	text-align: left;
	width: 100%;
}

.action span {
	float: right;
	font-family: Monaco, Consolas, 'Lucida Console', monospace;
	font-size: 10px;
	text-transform: uppercase;
}

/* Message
* ----------------------------- */

.message {
	background-color: rgba(0,0,0,0.75);
	border: 2px solid #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	color: #fff;
	display: none;
	font-size: 20px;
	left: 50%;
	margin-left: -150px;
	padding: 10px 15px;
	position: fixed;
	top: 10px;
	width: 300px;
	z-index: 3;
}

.message span {
	display: block;
	font-size: 14px;
	margin-top: 10px;
}

/* Canvas Display
* ----------------------------- */
.canvas {
	float: left;
	height: 400px;
	margin-left: 180px;
	position: relative;
	z-index: 1;
}

.canvas svg {
	height: 100%;
	left: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.canvas line {
	stroke: #000;
	stroke-width:2;
}

.canvas line.select {
	stroke: #f00;
}

.canvas path {
	fill: #000;
	opacity:0.2;
}

.canvas path.select {
	fill: #f00;
	opacity:0.2;
}

.canvas ul {
	list-style: none;
}

.canvas li {
	position: absolute;
}

.canvas li span {
	background-color: #fcc;
	border: 2px solid #400;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display:block;
	font: bold 10px/10px Arial,sans-serif;
	height: 10px;
	left: -5px;
	position: absolute;
	text-align: center;
	top: -5px;
	width: 10px;
}

.canvas li.select span {
	background-color: #f00;
	border-color: #900;
}

#marquee {
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
	display: none;
	position: absolute;
}

/* Info
* -------------------------- */
.info {
	bottom: 10px;
	position: fixed;
	right: 10px;
	z-index: 2;
}

.info .toggle {
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
	
	border: 2px solid #fff;
	border-radius: 50%;
	bottom: 7px;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 26px;
	line-height: 16px;
	padding: 0;
	position: absolute;
	right: 7px;
	text-align: center;
	width: 26px;
}

.info .view {
	background-color: #1f2335;
	border: 2px solid #fff;
	border-radius: 17px;
	bottom: 0;
	color: #fff;
	font-size: 14px;
	line-height: 1.6em;
	opacity: 0.95;
	padding: 20px 25px 15px;
	position: absolute;
	right: 0;
	width: 310px;
}

.info.closed .view {
	display: none;
}

.info b {
	display: block;
	font-size: 16px;
	margin: 0 0 10px;
}

.info p {
	margin: 0 0 15px;
}

.info ul {
	padding-left: 15px;
}

.info li {
	margin: 10px 0;
}
