@font-face {
    font-family: 'KellySlabRegular';
    src: url('KellySlab-Regular-webfont.eot');
    src: url('KellySlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('KellySlab-Regular-webfont.woff') format('woff'),
         url('KellySlab-Regular-webfont.ttf') format('truetype'),
         url('KellySlab-Regular-webfont.svg#KellySlabRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Global
* ----------------------------- */
body {
	background: url(background.png) repeat-y;
	font: 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	position: relative;
}

a {
	color: #a4e271;
}

a:hover {
	color: #d9fcbb;
}

h1, h2, b {
	font-family: 'KellySlabRegular', Helvetica, sans-serif;
	font-size: 18px;
}

.header {
	background: #151723; /* Old browsers */
	background: -moz-linear-gradient(top, #151723 0%, #272d42 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#151723), color-stop(100%,#272d42)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #151723 0%,#272d42 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #151723 0%,#272d42 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #151723 0%,#272d42 100%); /* IE10+ */
	background: linear-gradient(to bottom, #151723 0%,#272d42 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151723', endColorstr='#272d42',GradientType=0 ); /* IE6-9 */
	color: #fff;
	font-size: 15px;
	height: 60px;
	line-height: 60px;
}

.header h1,
.header ul,
.header li {
	display: inline;
	margin: 0 15px;
}

.header a {
	display: inline;
}

.header .nav {
	float: right;
}

.header h1 {
	font: 40px/60px 'KellySlabRegular', Helvetica, sans-serif;
	margin-right: 25px;
}

.header h1 span {
	font-size: 20px;
}

.header .tagline {
	font-style: italic;
}

/* Toolbar
* ----------------------------- */
.toolbar {
	float: left;
	margin-right: -100%;
	padding: 0 15px;
	width: 150px;
}

.toolbar h2 {
	margin: 25px 0 10px;
}

.toolbar ul {
	list-style: none;
}

.toolbar li {
	margin: 8px 0;
}

.toolbar button {
	display: block;
	text-align: left;
	width: 100%;
}

.toolbar button span {
	float: right;
	font-family: Monaco, Consolas, 'Lucida Console', monospace;
	font-size: 10px;
	text-transform: uppercase;
}

.action {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:2px 6px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;
}

.action:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}

.action:active {
	position:relative;
	top:1px;
}


/* Message
* ----------------------------- */

.message {
	background-color: rgba(0,0,0,0.75);
	border: 2px solid #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	color: #fff;
	display: none;
	font-size: 20px;
	left: 50%;
	margin-left: -150px;
	padding: 10px 15px;
	position: fixed;
	top: 10px;
	width: 300px;
}

.message span {
	display: block;
	font-size: 14px;
	margin-top: 10px;
}

/* Canvas Display
* ----------------------------- */
.canvas {
	float: left;
	height: 400px;
	margin-left: 180px;
	position: relative;
	z-index: 1;
}

.canvas svg {
	height: 100%;
	left: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.canvas line {
	stroke: #000;
	stroke-width:2;
}

.canvas line.select {
	stroke: #f00;
}

.canvas path {
	fill: #000;
	opacity:0.1;
}

.canvas path.select {
	fill: #77a809;
	opacity:0.3;
}

.canvas ul {
	list-style: none;
}

.canvas li {
	position: absolute;
}

.canvas li span {
	background-color: #900;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display:block;
	font: bold 10px/10px Arial,sans-serif;
	height: 10px;
	left: -5px;
	position: absolute;
	text-align: center;
	top: -5px;
	width: 10px;
}

.canvas li.select span {
	background-color: #f00;
}

#marquee {
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
	display: none;
	position: absolute;
}

/* Info
* -------------------------- */
.info {
	bottom: 10px;
	position: fixed;
	right: 10px;
	z-index: 2;
}

.info .toggle {
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
	
	border: 2px solid #fff;
	border-radius: 50%;
	bottom: 5px;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 26px;
	line-height: 16px;
	padding: 0;
	position: absolute;
	right: 5px;
	text-align: center;
	width: 26px;
}

.info .view {
	background-color: rgba(0,0,0,0.75);
	border: 2px solid #fff;
	border-radius: 17px;
	bottom: 0;
	color: #fff;
	padding: 20px 25px 25px;
	position: absolute;
	right: 0;
	width: 325px;
}

.info.closed .view {
	display: none;
}

.info b {
	display: block;
	margin: 0 0 10px;
}

.info ul {
	padding-left: 15px;
}

.info li {
	margin: 10px 0;
}
