@font-face {
    font-family: 'KellySlabRegular';
    src: url('KellySlab-Regular-webfont.eot');
    src: url('KellySlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('KellySlab-Regular-webfont.woff') format('woff'),
         url('KellySlab-Regular-webfont.ttf') format('truetype'),
         url('KellySlab-Regular-webfont.svg#KellySlabRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Global
* ----------------------------- */
body {
	background: url(background.png) repeat-y;
	font: 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	position: relative;
}

a {
	color: #ccc;
}

h1, h2, b {
	font-family: 'KellySlabRegular', Helvetica, sans-serif;
	font-size: 18px;
}

.header {
	background-color: #000;
	color: #fff;
	font-size: 15px;
	height: 60px;
	line-height: 60px;
}

.header h1,
.header ul,
.header li {
	display: inline;
	margin: 0 15px;
}

.header a {
	display: inline;
}

.header .nav {
	float: right;
}

.header h1 {
	font: 40px/60px 'KellySlabRegular', Helvetica, sans-serif;
	margin-right: 25px;
}

.header h1 span {
	font-size: 20px;
}

.header .tagline {
	font-style: italic;
}

/* Toolbar
* ----------------------------- */
.toolbar {
	float: left;
	margin-right: -100%;
	padding: 0 15px;
	width: 150px;
}

.toolbar h2 {
	margin: 25px 0 10px;
}

.toolbar ul {
	list-style: none;
}

.toolbar li {
	margin: 8px 0;
}

.toolbar button {
	display: block;
	text-align: left;
	width: 100%;
}

.toolbar button span {
	float: right;
	font-family: Monaco, Consolas, 'Lucida Console', monospace;
	font-size: 10px;
	text-transform: uppercase;
}

.toolbar button span:before {
	content: '(';
}

.toolbar button span:after {
	content: ')';
}

/* Message
* ----------------------------- */

.message {
	background-color: rgba(0,0,0,0.25);
	border-radius: 5px;
	display: none;
	float: left;
	font: 20px/1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 20px -100% 0 200px;
	padding: 10px 15px;
}

.message span {
	display: block;
	font-size: 14px;
	margin-top: 10px;
}

/* Canvas Display
* ----------------------------- */
.canvas {
	float: left;
	height: 400px;
	margin-left: 180px;
	position: relative;
	z-index: 1;
}

.canvas svg {
	height: 100%;
	left: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.canvas line {
	stroke: #000;
	stroke-width:2;
}

.canvas line.select {
	stroke: #f00;
}

.canvas path {
	fill: #000;
	opacity:0.25;
}

.canvas path.select {
	fill: #f00;
}

.canvas ul {
	list-style: none;
}

.canvas li {
	position: absolute;
}

.canvas li span {
	background-color: #900;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display:block;
	font: bold 10px/10px Arial,sans-serif;
	height: 10px;
	left: -5px;
	position: absolute;
	text-align: center;
	top: -5px;
	width: 10px;
}

.canvas li.select span {
	background-color: #f00;
}

#marquee {
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
	display: none;
	position: absolute;
}

/* Info
* -------------------------- */
.info {
	bottom: 10px;
	position: fixed;
	right: 10px;
	z-index: 2;
}

.info .view {
	background-color: rgba(225,225,225,0.9);
	border-radius: 10px;
	bottom: 0;
	display: none;
	padding: 20px 25px 25px;
	position: absolute;
	right: 0;
	width: 325px;
}

.info button {
	bottom: 10px;
	position: absolute;
	right: 10px;
}

.info b {
	display: block;
	margin: 0 0 10px;
}

.info ul {
	padding-left: 15px;
}

.info li {
	margin: 10px 0;
}