body {
	background:url(bg.png);
	font:12px/16px arial,sans-serif;
	margin:0;
	position:relative;
}
/* Clearing Floats */
.group:before,
.group:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.group:after { clear: both; }
.group { zoom: 1; }

#constellation {
	
}

/* Toolbar
* ----------------------------- */
#constellation .const-toolbar {
	background-color: #000;
	height: 46px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
#constellation .const-tools {
	position: absolute;
	right: 15px;
}
#constellation .const-tools button {
	cursor: pointer;
	height: 30px;
	margin: 8px 4px;
	width: 30px;
}
#constellation .const-tools button,
#constellation .toggle-menu {
	float: left;
	position: relative;
}
#constellation .toggle-menu {
	margin: 8px 0 0;
}
#constellation .toggle-menu h2 {
	color: #fff;
	cursor: default;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0 10px 8px;
}
#constellation .toggle-menu.open h2 {
	background-color: #fff;
	color: #000;
}
#constellation .toggle-menu ul {
	background-color: #fff;
	display: none;
	list-style: none;
	margin: 0;
	padding: 10px;
	position: absolute;
	right:0;
	width:250px;
}
#constellation .toggle-menu.open ul {
	display: block;
}
#view-width,
#view-height {
	width: 50px;
}

/* Canvas Display
* ----------------------------- */
#constellation .const-canvas {
	background-color: #fff;
	height: 400px;
	margin: auto;
	position: relative;
	z-index: 1;
}
#constellation .const-canvas svg {
	height: 100%;
	left: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#constellation .const-canvas line {
	stroke: #000;
	stroke-width:2;
}
#constellation .const-canvas line.select {
	stroke: #f00;
}
#constellation .const-canvas path {
	fill: #000;
	opacity:0.25;
}
#constellation .const-canvas path.select {
	fill: #f00;
}
#constellation .const-canvas ul {
	list-style: none;
}
#constellation .const-canvas li {
	position: absolute;
}
#constellation .const-canvas li span {
	background-color: #900;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display:block;
	font: bold 10px/10px Arial,sans-serif;
	height: 10px;
	left: -5px;
	position: absolute;
	text-align: center;
	top: -5px;
	width: 10px;
}
#constellation .const-canvas li.select span {
	background-color: #f00;
}